<!-- 1) NumPy — 5 Questions -->

    - Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

    - Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

    - Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

    - Q4. Create a new NumPy array that increases every employee’s age by 5 years (without modifying the original array). Print the new updated ages array.

    - Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [12]:
import numpy as np
np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

### Solve: Q1. Create NumPy arrays from the ages and salaries data generated above. Print both arrays and display their dtype, ndim, shape, and size.

In [15]:
ages = np.array(ages)
salaries = np.array(salaries)

print("Salary Array: ", salaries)
print("type: ", type(salaries))


print("Ages: ", ages)
print("type: ", type(salaries))

Salary Array:  [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
type:  <class 'numpy.ndarray'>
Ages:  [56 46 32 25 38 56 36 40 28 28]
type:  <class 'numpy.ndarray'>

In [17]:
#  dtype, ndim, shape, and size.

print("For ages ndarray: \n")

print("Data type: ", ages.dtype)
print("Dimension: ", ages.ndim)
print("Shape    : ", ages.shape)
print("Size     : ", ages.size)



print("For salaries ndarray: \n")

print("Data type: ", salaries.dtype)
print("Dimension: ", salaries.ndim)
print("Shape    : ", salaries.shape)
print("Size     : ", salaries.size)

For ages ndarray:

Data type:  int32
Dimension:  1
Shape    :  (10,)
Size     :  10
For salaries ndarray:

Data type:  int32
Dimension:  1
Shape    :  (10,)
Size     :  10

###  Q2. Using the salaries array, find and print the highest and lowest salary values. Also, calculate and print the average salary and age using NumPy functions.

In [47]:
highest_salary = np.max(salaries)

lowest_salary = np.min(salaries)

avg_salary = np.mean(salaries)

avg_age = np.mean(ages)



print("Highest Salary: ", highest_salary)
print("Lowest Salary : ", lowest_salary)
print("Average Salary: ", avg_salary)
print("Average Age: ", avg_age)

Highest Salary:  89735
Lowest Salary :  30769
Average Salary:  57446.9
Average Age:  38.5

#### Q3. From the ages array, filter and print all ages greater than 30 using a boolean condition. Then count and print how many employees are older than 30.

In [ ]:
# solution:
greater_30 = ages[ages > 30]
print("Ages Greater than 30: ", greater_30)


count = np.sum(greater_30 > 30)

# count1 = np.count_nonzero(ages > 30)

print("Total Employees  older than 30: ", count)

# print("Total Employees  older than 30: ", count1)

Ages Greater than 30:  [56 46 32 38 56 36 40]
Total Employees  older than 30:  7
Total Employees  older than 30:  7

#### Q4. Create a new NumPy array that increases every employee’s age by 5 years (without modifying the original array). Print the new updated ages array.

In [49]:
print("Original age: ", ages)

new_age = ages + 5

print("Updated age: ", new_age)

Original age:  [56 46 32 25 38 56 36 40 28 28]
Updated age:  [61 51 37 30 43 61 41 45 33 33]

#### Q5. Using NumPy, calculate the total salary expense (sum of all salaries) and the difference between the maximum and minimum salary. Print both results.

In [43]:
total_salary = np.sum(salaries)

print("Total Salary: ", total_salary)

# min and max
min_salary = np.min(salaries)

max_salary = np.max(salaries)

dffn = max_salary - min_salary

print("Differnt: ", dffn)

Total Salary:  574469
Differnt:  58966

In [ ]:
# total = 0

# for i in salaries:
#     total += i

# print(total)

574469