# Module_01 python core and fundamentals

# OUtCOMES
- 1. Basic of Python
- 2. Fundamental Data Structure
- 3. slice and loop
- 4. control flow
- 5. control flow list Comprehension.
- 6. Comprehension Explain
- 7. List Comprehension
- 8. Quiz

# 1. Basic of Python
- Variable
- primitive data types

In [ ]:
var = "Hello Everyone"
name = "KzRaihan"
age = 24
height = 5.6
weight = 68.05
is_student = True

# Display
print(var)
print(f"My name is : {name}")

print("Age: ", age)
print("Height: ", height)
print("Weight", weight)
print("Is Student: ", is_student)

Hello Everyone
My name is : KzRaihan
Age:  24
Height:  5.6
Weight 68.05
Is Student:  True

## Data type in Python
 - Python detect the data type dynamically(in runtime)

In [ ]:
var = "I am from Bangladesh"
area = 148460   # km²
population = 175.7    # million in 2025

print(var)
print(type(var))

print(area)
print(type(area))

print(population)
print(type(population))

I am from Bangladesh
<class 'str'>
148460
<class 'int'>
175.7
<class 'float'>

 # 2. Fundamental Data Structure
 - list
 - tuple
 - dictionary
 - set

In [ ]:
# list
# list is a mutable data structure in python
# it can be change and modify the value.

# syntax of list
# list_name = [values]
# values = value can be any type

lst = [10, 20, 30, ["Math", "Physic", "Chemistry"], "Kz"]
print(lst)
print(type(lst))   # here note that: lst is an object of list class

# additional functionality
# indexing: to access the value of list
# list follow the 0-base indexing

first_ele = lst[0]
print("first element in lst: ", first_ele)



fourth_ele = lst[3]
print("Third element: ", fourth_ele)

last_ele = lst[-1] # negative idx
print("last element in lst: ", last_ele)

[10, 20, 30, ['Math', 'Physic', 'Chemistry'], 'Kz']
<class 'list'>
first element in lst:  10
Third element:  ['Math', 'Physic', 'Chemistry']
last element in lst:  Kz

In [ ]:
# Tuple
# tuple is a immutable data structure
# It can't be change

# syntax of tuple:
# tuple name = (values)

tpl = (11, 12, 13, 14, 15, ("Kz", 3.14, 100), ["Bangla",87, 90.99], 16)

print(tpl)
print(type(tpl))  # note that: tpl is an object of tuple class

(11, 12, 13, 14, 15, ('Kz', 3.14, 100), ['Bangla', 87, 90.99], 16)
<class 'tuple'>

In [ ]:
# dictionary
# Dictionary is mutable data structure that store item in the key-value pair format.

# syntax of dictionary
# dic_name = {"key": value}
# key can't be mutable or key always immutable
# value can be any type

dct = {
    "name": "KzRaihan",
    "age": 24,
    "height": 5.6,
    "weight": 68.05,
    "is_student": True
}
print(dct)
print(type(dct))  # here dct is an object of dictionary class

# access the dct element using key

name = dct["name"]
print("Name: ", name)

age = dct["age"]
print("Age: ", age)

{'name': 'KzRaihan', 'age': 24, 'height': 5.6, 'weight': 68.05, 'is_student': True}
<class 'dict'>
Name:  KzRaihan
Age:  24

In [ ]:
# Nested Dictionary
# dictionary like phonebook

phonebook = {
    "Kz":
    {
        "Email": "kmaruzzamanraihan00@gmail.com",
        "phone": 17000
    },

    "Raihan":
    {
        "Email": "raihan00@gmail.com",
        "phone": 18000
    },

    "Bob":
    {
        "Email": "bob@gmail.com",
        "phone": 16000
    },

}

print("The entire dictionary: ", phonebook)

# see the first person details

print(phonebook["Kz"])

# see the last person(Bob) only the contract number
print(phonebook["Bob"]["phone"])

The entire dictionary:  {'Kz': {'Email': 'kmaruzzamanraihan00@gmail.com', 'phone': 17000}, 'Raihan': {'Email': 'raihan00@gmail.com', 'phone': 18000}, 'Bob': {'Email': 'bob@gmail.com', 'phone': 16000}}
{'Email': 'kmaruzzamanraihan00@gmail.com', 'phone': 17000}
16000

In [ ]:
# set
# set only store the unique value

# syntax of set
# set_name = {values}

st = {10, 20, 30, 40, 50, 40}
print(st)          # only display the unique value
print(type(st))   # st is an object of set class

{50, 20, 40, 10, 30}
<class 'set'>

# 3. slice and loop
- slicing means: access and modify the sequence data structure elements.

In [ ]:
# slicing
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

first_slc = lst[1:6:1]
print("first slc: ", first_slc)

second_slc = lst[1:10:2]
print("second slc: ", second_slc)

third_slc = lst[1:10:3]
print("third slc: ", third_slc)

# using negative idx
fourth_slc = lst[3:-3]
print("fourth slc: ", fourth_slc)

fifth_slc = lst[-1:-10:-2]
print("fifth slc: ", fifth_slc)

first slc:  [20, 30, 40, 50, 60]
second slc:  [20, 40, 60, 80, 100]
third slc:  [20, 50, 80]
fourth slc:  [40, 50, 60, 70]
fifth slc:  [100, 80, 60, 40, 20]

In [ ]:
# loop
# use to repetition work

# for loop with range()

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# nested for loops
# loop inside another loops

for item1 in range(1,11):
  for item2 in range(5,11):
    print(f"item1- {item1} and item2 - {item2}")

item1- 1 and item2 - 5
item1- 1 and item2 - 6
item1- 1 and item2 - 7
item1- 1 and item2 - 8
item1- 1 and item2 - 9
item1- 1 and item2 - 10
item1- 2 and item2 - 5
item1- 2 and item2 - 6
item1- 2 and item2 - 7
item1- 2 and item2 - 8
item1- 2 and item2 - 9
item1- 2 and item2 - 10
item1- 3 and item2 - 5
item1- 3 and item2 - 6
item1- 3 and item2 - 7
item1- 3 and item2 - 8
item1- 3 and item2 - 9
item1- 3 and item2 - 10
item1- 4 and item2 - 5
item1- 4 and item2 - 6
item1- 4 and item2 - 7
item1- 4 and item2 - 8
item1- 4 and item2 - 9
item1- 4 and item2 - 10
item1- 5 and item2 - 5
item1- 5 and item2 - 6
item1- 5 and item2 - 7
item1- 5 and item2 - 8
item1- 5 and item2 - 9
item1- 5 and item2 - 10
item1- 6 and item2 - 5
item1- 6 and item2 - 6
item1- 6 and item2 - 7
item1- 6 and item2 - 8
item1- 6 and item2 - 9
item1- 6 and item2 - 10
item1- 7 and item2 - 5
item1- 7 and item2 - 6
item1- 7 and item2 - 7
item1- 7 and item2 - 8
item1- 7 and item2 - 9
item1- 7 and item2 - 10
item1- 8 and item2 - 5
item1- 8 and item2 - 6
item1- 8 and item2 - 7
item1- 8 and item2 - 8
item1- 8 and item2 - 9
item1- 8 and item2 - 10
item1- 9 and item2 - 5
item1- 9 and item2 - 6
item1- 9 and item2 - 7
item1- 9 and item2 - 8
item1- 9 and item2 - 9
item1- 9 and item2 - 10
item1- 10 and item2 - 5
item1- 10 and item2 - 6
item1- 10 and item2 - 7
item1- 10 and item2 - 8
item1- 10 and item2 - 9
item1- 10 and item2 - 10

#  4. control flow
- control flow to control our code or use to make decision.

In [ ]:
# if, elif, else conditional statement

age = 24

if age>18:
  print("They are adult")
elif age>13:
  print("They are teenager")
else:
  print("They are child")

They are adult

In [ ]:
samples = [0, 1, "", "text", [], [1], {}, {"k": 1}, None]

for item in samples:
  if item:
    print(f"{item} is True")
  else:
    print(f"{item} is False")

0 is False
1 is True
 is False
text is True
[] is False
[1] is True
{} is False
{'k': 1} is True
None is False

# 5. control flow list Comprehension.

In [ ]:
# list comprehensioin

# To create problem

# print only even number form 1 to 11

for i in range(1, 11):
  if i%2 == 0:
    print(i)
  else:
    continue

2
4
6
8
10

In [ ]:
# print 'even' if the given number is even else 'odd'

for item in range(11):
  if item == 0:
    level = "zero"

  elif item%2== 0:
    level = "even"

  else:
    level = "odd"

  print(f"{item} is {level}")

0 is zero
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
# comprehension : to concise the multiple statements
# sytax:
# [expression for in sequnce if condition]

lst = [item for item in range(1, 11) if item%2 == 0]
print(lst)

[2, 4, 6, 8, 10]

In [ ]:
# convert to celsius to fahrenheit
# formula: clesious_temp * 9/5 + 32

c_temp = [32, 40, 35, 39, 45, 50]

for temp in c_temp:
  # use formula to convert

  fahren_temp = temp * 9/5 + 32
  print(f"{temp}°C is {fahren_temp}°F")

32°C is 89.6°F
40°C is 104.0°F
35°C is 95.0°F
39°C is 102.2°F
45°C is 113.0°F
50°C is 122.0°F

In [ ]:
# using list comprehension

c_temp = [32, 40, 35, 39, 45, 50]

f_temp = [temp*9/5+32 for temp in c_temp]
print(f_temp)

[89.6, 104.0, 95.0, 102.2, 113.0, 122.0]

In [ ]:
# another example of list comprehension
square = [item for item in range(1,11) if item%2==0]
print(square)

[2, 4, 6, 8, 10]

In [ ]:
# nested list comprehension
# syntax : [[expression for i in sequence if codition] for i in sequcne]]


nested_squares = [[x**2 for x in range(i, i+5) if x % 2 == 0] for i in range(1, 10, 3)]
print("Nested Squares:", nested_squares)

Nested Squares: [[4, 16], [16, 36, 64], [64, 100]]

# Explain the nested list comprehension example:

# Execution process..

# outter loop
step_1st: for i in range(1, 10, 3)

# inner loop
step_2nd:  for x in range(i, i+5)

# inside inner loop cds
step_3th: if x % 2 == 0       

# inside inner loop expression
step_4th: x**2   
-----------------------------------------------------------------

# Explain start here:

iteration_01 for outtter loop:
---------------------------------
# outter loop
step_1st: for i in range(1, 10, 3)
        : i = 1

iteration_01 for inner loop:
---------------------------------
i = 1

# inner loop
step_2nd:  for x in range(1, 1+5)  
        : x = 1

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  1 % 2 == 0 (False)

 # inside inner loop expression
step_4th: x**2  (this is not execute)

but x is increment or x = 1 + 1
                        = 2
-----------------------iteration_01 for inner loop end--------------



iteration_01 for outter loop but iteration_02 for inner loop:
------------------------------------------------------------
# inner loop
step_2nd:  for x in range(2, 6)  
        : x = 2

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  2 % 2 == 0 (True)

# inside inner loop expression
step_4th:
 nested_squares = x**2
                = 2 ** 2
                = 4

nested_squares = [4]

-> x = x + 1
     = 2 + 1
     = 3
-----------------------iteration_02 for inner loop end--------------


iteration_01 for outter loop but iteration_03 for inner loop:
------------------------------------------------------------
x = 3
# inner loop
step_2nd:  for x in range(3, 6)  
        : x = 3

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  3 % 2 == 0 (False)
                
nested_squares = [4]

-> x = x + 1
     = 3 + 1
     = 4

-----------------------iteration_03 for inner loop end--------------



iteration_01 for outter loop but iteration_04 for inner loop:
------------------------------------------------------------
x = 4
# inner loop
step_2nd:  for x in range(4, 6)  
        : x = 4

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  4 % 2 == 0 (True)

# inside inner loop expression
step_4th:
 nested_squares = x**2
                = 4 ** 2
                = 16

                
nested_squares = [4,16]

-> x = x + 1
     = 4 + 1
     = 5

-----------------------iteration_04 for inner loop end--------------


iteration_01 for outter loop but iteration_05 for inner loop:
------------------------------------------------------------
x = 5
# inner loop
step_2nd:  for x in range(5, 6)  
        : x = 5

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  5 % 2 == 0 (False)

                
nested_squares = [4,16]

-> x = x + 1
     = 5 + 1
     = 6

-----------------------iteration_05 for inner loop end--------------


iteration_01 for outter loop but iteration_06 for inner loop:
------------------------------------------------------------
x = 6
# inner loop
step_2nd:  for x in range(6, 6) # False cds

-----------------------iteration_06 for inner loop end--------------

After iteration_01 for outter loop and all iteration for inner loop we get:
    nested_squares = [4,16]


-----------------------iteration_01 for *outter loop* end------------------------------------------------------------



iteration_02 for outtter loop:
---------------------------------
# note: here step size = 3 so i = 1 + 3 => 4
step_1st: for i in range(4, 10, 3) # outter loop
        : i = 4

iteration_02 for outter loop and iteration_01 for inner loop:
------------------------------------------------------------

# inner loop
i = 4
step_2nd:  for x in range(4,9)  
        : x = 4

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  4 % 2 == 0 (True)

# inside inner loop expression
step_4th:
 nested_squares = x**2
                = 4 ** 2
                = 16

nested_squares = [16]


previous result nested_squares = [4, 16]

overall result:
nested_squares = [4, 16],[16]


but x is increment or x = 4 + 1
                        = 5
-----------------------iteration_01 for inner loop end--------------


iteration_02 for outter loop and iteration_02 for inner loop:
---------------------------------------------------------------

# inner loop
step_2nd:  for x in range(5, 9)  
        : x = 5

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  5 % 2 == 0 (False)

overall result:
nested_squares = [4, 16],[16]


but x is increment or x = 5 + 1
                        = 6
-----------------------iteration_02 for inner loop end--------------


iteration_02 for outter loop and iteration_03 for inner loop:
------------------------------------------------------------

# inner loop
x = 6
step_2nd:  for x in range(6, 9)  
        : x = 6

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  6 % 2 == 0 (True)

# inside inner loop expression
step_4th:
 nested_squares = x**2
                = 6 ** 2
                = 36

nested_squares = [16,36]


previous result nested_squares = [4, 16]

overall result:
nested_squares = [4, 16],[16,36]


but x is increment or x = 6 + 1
                        = 7
-----------------------iteration_03 for inner loop end--------------


iteration_02 for outter loop and iteration_04 for inner loop:
---------------------------------------------------------------

# inner loop
step_2nd:  for x in range(7, 9)  
        : x = 7

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  7 % 2 == 0 (False)

overall result:
nested_squares = [4, 16],[16.36]


but x is increment or x = 7 + 1
                        = 8
-----------------------iteration_04 for inner loop end-------------



iteration_02 for outter loop and iteration_05 for inner loop:
------------------------------------------------------------

# inner loop
x = 8
step_2nd:  for x in range(8, 9)  
        : x = 8

# inside inner loop cds
step_3th: if x % 2 == 0       
        :  8 % 2 == 0 (True)

# inside inner loop expression
step_4th:
 nested_squares = x**2
                = 8 ** 2
                = 36

nested_squares = [16,36,64]


previous result nested_squares = [4, 16]

overall result:
nested_squares = [4, 16],[16,36,64]


but x is increment or x = 8 + 1
                        = 9
-----------------------iteration_05 for inner loop end--------------



iteration_02 for outter loop and iteration_06 for inner loop:
---------------------------------------------------------------

# inner loop
step_2nd:  for x in range(9, 9) # (False)
        
-----------------------iteration_06 for inner loop end-------------

-----------------------iteration_02 for outter loop end-------------


After iteration_02 for outter loop and all iteration for inner loop we get
 nested_squares = [4, 16],[16,36,64]

-- this process is continue untill the we get the below result
Nested Squares: [[4, 16], [16, 36, 64], [64, 100]