## Topic: for loop

- loop are use to repeat instructions

- for loop
    - use to iterating over a sequence(range(), list, tuple)

In [ ]:
# syntax of for loop

'''  
for i in sequence:
    -- body of for loop--

'''

### for loop iterating over a range()

In [ ]:
''' 
range()

- range() function return a sequence of numbers.

- syntax of range():
    range(start, end, steps)

    - start = 0 (by default) and it's optional
    - end = user input - 1 (must)
    - steps = 1 (by default) and it's optional

'''

In [ ]:
range(1,11,1)

# start = 1
# end = 11 - 1 
# step = 1

range(1, 11)

In [ ]:
# if type conversion into list

lst = list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Example_01: for loop with range()

for i in range(1,10,1):
    print(i, "Hello Dear!")

1 Hello Dear!
2 Hello Dear!
3 Hello Dear!
4 Hello Dear!
5 Hello Dear!
6 Hello Dear!
7 Hello Dear!
8 Hello Dear!
9 Hello Dear!

In [8]:
# Example_02: for loop with range()

for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
# Example_03: for loop with range()
for i in range(1,6):
    print(i, "Kz")

1 Kz
2 Kz
3 Kz
4 Kz
5 Kz

In [ ]:
# Example_03: for loop with range() 
for i in range(1,11,2):
    print(i, "odd")

1 odd
3 odd
5 odd
7 odd
9 odd

In [24]:
# Example_04: Practical problem
# sum form 1 to 10

sum = 0

for i in range(1,11):
    sum += i
    print(i, "is added to the sum")

print("\nSummation(1-10): ", sum)

1 is added to the sum
2 is added to the sum
3 is added to the sum
4 is added to the sum
5 is added to the sum
6 is added to the sum
7 is added to the sum
8 is added to the sum
9 is added to the sum
10 is added to the sum

Summation(1-10):  55

### Nested for loop

In [15]:
# nested loop: loop inside another loops

for i in range(1,6):
    for j in range(1,3):
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2

### for loop iterating over string

In [16]:
text = "Good Morning Everyone"

for i in text:
    print(i)

G
o
o
d

M
o
r
n
i
n
g

E
v
e
r
y
o
n
e

### for loop iterating over list

In [ ]:
lst = [10, 20, 30, 40, 50]

for i in lst:
    print(i, type(i))
    
    
print(lst, type(lst))

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>
40 <class 'int'>
50 <class 'int'>
[10, 20, 30, 40, 50] <class 'list'>