## Topic: String in Python

### OUTCOMES

- 1. Basic of String.

- 2. String Indexing and Slcing.

- 3. String's Method.

- 4. String Spliting, joining and Formatting.

- 5. Practices Example.

### 1. Basic of String.

- String is a data type that store a sequence of character.

- String is Immutable(Not chanage) data type.

- String elements arranged in sequentially manner.

In [4]:
# Syntax of String:
# str_name = "values"


# There are three way to Express

# 1st string express with single quotation(''):
strl = 'What is your name ?'

# 2nd : Double Quotation("")
name = "MY name is Kz"

# 3th: Thirpal Quotation(''' ''' or """  """)

message = """ 
    Tell me about yourself?
    What is the issues you've been facing while learing to code?
    How are you tacking them?
"""

print(strl, type(strl))

print(name, type(name))

print(message, type(message))

What is your name ? <class 'str'>
MY name is Kz <class 'str'>

    Tell me about yourself?
    What is the issues you've been facing while learing to code?
    How are you tacking them?
 <class 'str'>

In [5]:
# Basic string operation:

# String concatenation (combine or add two or more string)

first_name = "Kz"

last_name = "Raihan"

user_name = first_name + last_name

print(user_name)

KzRaihan

In [ ]:
# Example of string concatenation:
num1 = 10

strl = "Kz"

add = strl + num1

print(add)

# con't be concatenation integer and string value

TypeError: can only concatenate str (not "int") to str

In [8]:
# Type conversion to sovle this problem

num1 = 10

strl = "Kz"

add = strl + str(num1)

print(add)
print(type(add))

Kz10
<class 'str'>

In [12]:
# Create empty string

# 1st way

empty_str = str()

print(empty_str, type(empty_str))

# 2nd way to crete null string
null_str = ""
print(null_str, type(null_str))

 <class 'str'>
 <class 'str'>

### 2. String Indexing and Slicing.

#### Indexing

- indexing refers to the position of the character that inside the string

- Access the string elements

- String follow 0-base idexing

In [ ]:
# indexing

promt = "My name is Kz"

# how it's look like 

'''  
_________________________________________________________
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 |   <- this is positive idx
_________________________________________________________
| M | y |   | n | a | m | e |   | i | s |    | K  | z  |
__________________________________________________________

'''

# access
print(promt[0])

print(promt[4])

print(promt[12])

M
a
z

In [ ]:
# String is Immutable(Not chanage) data type?
# String value can't be change

promt[0] = "H"  # this is not support 

print(promt[0])

TypeError: 'str' object does not support item assignment

In [ ]:
# Access the string element using negative idx
# negative idx start at the end of the string.

# how it's look 

'''  
________________________________________________________________________
| -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |   <- this is Negative idx
________________________________________________________________________
| M   | y   |     | n   | a  | m  | e  |    | i  | s  |    | K  | z  |
___________________________________________________________________________

'''

print(promt[-1])
print(promt[-10])
print(promt[-13])

z
n
M

#### Slicing

- Access Substring in a string.

- syntax:
    str_name[start: end: step]

    - start = starting idx(By default 0).
    
    - end = ending idx (By defalut length of the string). and it's is not include.

    - step = steps size (By defalut 1)

In [ ]:
'''
_______________________________________________________________________
|  0  |  1  |  2   |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 10 | 11 | 12 |   <- this is positive idx
_______________________________________________________________________
|  M  |   y |      |  n |  a |  m |  e |    |  i |  s |    | K  | z  |_______________________________________________________________________


'''

In [ ]:
# Example : Slicing with positive idx

promt = "My name is Kz"

print(promt[0:len(promt):1])

print(promt[:])

print(promt[::])

print(promt[5:10])

sub_str = promt[3:12:2]
print(sub_str)

My name is Kz
My name is Kz
My name is Kz
me is
nm sK

In [ ]:
# Example : Slicing with negative idx
# promt = "My name is Kz"

'''
_______________________________________________________________________
|  M  |   y |      |  n |  a |  m |  e |    |  i |  s |    | K  | z  |_______________________________________________________________________
| -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1 |   <- this is Negative idx

'''

In [32]:
first_sub_str = promt[-1:-14:-1]  # here -14 is not include

print(first_sub_str)

print(promt[::-1])

# note : by defautl step size is poisitive

zK si eman yM
zK si eman yM

In [34]:
print(promt[-4:-11:-1])

# start = negative; end = negative ; step = positive

print(promt[-10:-2])  # here step size is positive

print(promt[-10:-2:2])

print(promt[::-3])

si eman
name is
nm s
zsenM

### 3. String's Method.

#### Basic String's Method

In [ ]:
# 1. len(str)

## - Return the length of the string

strl = "Welcome to python"

print(len(strl))  # Total number of characters in strl

17

In [43]:
# 2. str.lower()

## - convert all characters into lower case characters.

new_str = strl.lower()

print(new_str)

# another way
print(strl.lower())

# But main string(strl) is not change
print(strl)

welcome to python
welcome to python
Welcome to python

In [46]:
# 3. str.upper()

## - convert all characters into upper case characters and return the new string.

print(strl.upper())

WELCOME TO PYTHON

In [ ]:
# 4. str.capitalize()

## - convert only first world into upper case.

message = "hellow everyone how are you today?"

print(message.capitalize())

Hellow everyone how are you today?

In [48]:
# 5. str.title()

## - convert only all first world into upper case.

print(message.title())

Hellow Everyone How Are You Today?

#### Advance String's Method

In [ ]:
# 6. str.endswith("sub_str")

## Return True if string is end with sub_str otherwise False

print(message.endswith("?")) # True
print(message.endswith("."))

True
False

In [ ]:
# 7. str.index("sub_str")

## - return the idx of sub_str only for first occurance.

text = "Thanks you! I am fine today."

print(text.index("you"))
print(text.index("y"))

7
7

In [ ]:
# if substring is not present in the string then it's generate error.
print(text.index("Hello"))
print(text.index("Iam"))

ValueError: substring not found

In [ ]:
# 8. str.find("sub_str")

## Return the idx of the sub_str in 1st occurance.

sentence = "Day by Day, Johnâ€™s health improved."

print(sentence.find("Day"))  # 0

0

In [ ]:
# if the sub_str in not present then it's return -1.
print(sentence.find("Day1"))  # -1

-1

In [62]:
# 9. str.count("sub_str")

## - count the total substring in a string.
print(sentence.count("Day"))

2

In [ ]:
# if the sub_str in not present then it's return 0.

print(sentence.count("Day1"))
print(sentence.count("day"))  # this count() is case-sensitive.

0

In [65]:
# 10. str.replace("old_str", "new_sub_str")

## - replace the old_str into new_sub_str

strl = "Hello Kz"

print(strl.replace("Kz", "Raiham"))

Hello Raiham

In [70]:
# Practices Example_01:

# WAP to to find '?' and also the the occurances of the given string.

# given string
sentence = """ 
What is your name?
What are you doing?
Are you free today?
"""

# find '?'
idx_str = sentence.find("?")
print("The idx of '?': ", idx_str)

# the total occurance

total_str = sentence.count("?")

print("Total occurance '?': ",total_str)

The idx of '?':  19
Total occurance '?':  3

### 4. String Spliting, joining and Formatting.

#### String Spliting

- This is another method of string.

- Divides a string into a list of substrings, based on a separator (delimiter).

- syntax:
    - str.split(seperator)

    - seperator = where the split happens. Default = whitespace ().

In [ ]:
# Exmaple: split()

promt = "What is Python?"

lst_promt = promt.split()  #  by default seperator is whitespace

print(lst_promt, type(lst_promt)) # convert into list of substring

print(promt)

['What', 'is', 'Python?'] <class 'list'>
What is Python?

In [ ]:
# Spefifying the seperator

text = "Today-date-8-10-2025"

tokens = text.split("-")  # seperator = '-'

print(tokens)

['Today', 'date', '8', '10', '2025']

In [76]:
# Example: split() with specifying the seperator

fruits = "apple,banna,cherry,mango"

print(fruits.split(","))

['apple', 'banna', 'cherry', 'mango']

In [ ]:
## Extra example:
path = "C:/Users/Admin/Documents"
folders = path.split("/")
print(folders)

['C:', 'Users', 'Admin', 'Documents']

In [ ]:
# if the seperator is not present in the string

# then returns a list with the entire string.

sentence = "I love my Country"

print(sentence.split("-"))

['I love my Country']

#### joining

- Used to combine (join) the elements of an iterable (like a list or tuple) into a single string.

- Syntax of join()
    - 'separator'.join(iterable)

In [86]:
# Example : join() with space

tokens = ["Kz","Raihan", "Hello"]

new_str = ' '.join(tokens)

print(new_str)
print(type(new_str))
print(type(tokens))

Kz Raihan Hello
<class 'str'>
<class 'list'>

In [ ]:
# Example join() with ' and ' text(before and after two spaces)

words = ["c", "python", "java"]

result = " and ".join(words)

print(result)

c and python and java

In [89]:
# Example : join with comma(,)

items = ["Apple", "Banna", "Mango"]

print(",".join(items))

Apple,Banna,Mango

- The key difference between split() and .join()

- split() -> breaks and join() -> rebuilds

In [ ]:
# Example: join with email usernames

user = ["kz", "raihan", "00", "com"]

name = ''.join(user[0:2])  # kzraihan (join without space)

domain = '.'.join(user[2:])  # 00.com (join with comma.) or also use:'.'.join(user[2:4])

email = '@'.join([name,domain])


print(email)

kzraihan@00.com

#### Formatting of string

- There are there way to format the string

- 1. in general way

- 2. using f-string 

- 3. .format() function

In [ ]:
# 1. in general way

name = "KzRaihan"
age = 24
height = 5.666667
is_student = True

print("Name: ", name,"\n", "age: ", age)

print(height, "Feet")
print("Student: ", is_student)

Name:  KzRaihan
 age:  24
5.666667 Feet
Student:  True

In [111]:
# 2. using f-string 

name = "KzRaihan"
age = 24
height = 5.666667
is_student = True


info = f"Name: {name.upper()}\nAge: {age}\nHeight: {height:.2f}\nStudent: {is_student}"

print(f"Student Information: \n{info}")

Student Information:
Name: KZRAIHAN
Age: 24
Height: 5.67
Student: True

In [127]:
# Example of f-string formating
model_accuracy = 0.9884789

print(f"The Model Accuracy: {model_accuracy:.2%}") # convert into percentage format

print(f"The Model Accuracy: {model_accuracy:.0%}")

The Model Accuracy: 98.85%
The Model Accuracy: 99%

In [113]:
# 3. .format() function

name = "KzRaihan"
age = 24
height = 5.666667
is_student = True

print("Name : {}\nAge: {}\nHeight: {}\nStudent: {}".format(name, age, height,is_student))

print("\nAnother way")
print("Name : {0}\nAge: {1}\nHeight: {2}\nStudent: {3}".format(name, age, height,is_student))


print("\nAnother way")
print("{height:.2f}, {age}, {is_student}, {name}".format(name = name, age = age, height = height, is_student= is_student))

Name : KzRaihan
Age: 24
Height: 5.666667
Student: True

Another way
Name : KzRaihan
Age: 24
Height: 5.666667
Student: True

Another way
5.67, 24, True, KzRaihan