## Topic: Tuples in Python

### OUTCOMES

- 1. Basic of Tuple

    - Introduction of tuples

    - Creating of tuple

    - Difference between tuple and variable

    - Access of tuple's elements
        - indexing and slicing
        - tuple immutability propertices
        - conversion list to tuple

- 2. Tuple's Method
    - tpl.count(item) 
    - tpl.index(item)

### 1. Basic of Tuple

- Introduction of tuples

    -  Tuples are ordered,immutable collection of items.

#### Creating Tuples

In [ ]:

# Syntax of tuple
 
'''  
tuple_name = (values....)

'''

In [3]:
# Declaration of Tuple
tpl = (10, 20, 30, 40) 

print(tpl, type(tpl))

(10, 20, 30, 40) <class 'tuple'>

In [38]:
# Creating of different tuple

# integer
int_tpl = (10, 20, 30, 40, 50)
print(type(int_tpl), type(int_tpl[0]))

# float
float_tpl = (10.10, 20.55, 30.44, 40.55, 50.99)
print(type(float_tpl), type(float_tpl[0]))

# mix 
mix_tpl = ("Kz", 24, 5.67,True)
print(mix_tpl, type(mix_tpl))


print(type(mix_tpl[0]))
print(type(mix_tpl[-1]))

<class 'tuple'> <class 'int'>
<class 'tuple'> <class 'float'>
('Kz', 24, 5.67, True) <class 'tuple'>
<class 'str'>
<class 'bool'>

#### Difference between tuple and variable

In [12]:
# create empty or null tuple

emp_tpl = ()
print(type(emp_tpl))

# another way to create empty tuple using build-in data type(tuple)

null_tpl = tuple()
print(type(null_tpl))

<class 'tuple'>
<class 'tuple'>

In [14]:
# Creating tuple for only one variable

var_one = (1)
print(var_one, type(var_one))  

tpl_one = (1,)
print(tpl_one, type(tpl_one))

# NOTE :
#  - variable contain only one items and tuple contain collections of items.
#  - for declare one in tuple item must follow (one_item,) comman separator otherwise it's count variable.

1 <class 'int'>
(1,) <class 'tuple'>

#### Access of tuple's elements

##### indexing and slicing

In [17]:
tpl = ("Kz", 24, 99.99, True, "Python")

# indexing 
# - access the single item
first_ele = tpl[0]
print(first_ele)

print(tpl[-1]) # last element

print(tpl[3]) # in between element

Kz
Python
True

In [22]:
# slicing 
# - access the multiple items

tpl = ("Kz", 24, 99.99, True, "Python")

first_thrid = tpl[0:3]
print(first_thrid)

print(tpl[:]) # access all elements

print(tpl[::2])

print(tpl[::-1]) # reverse the tuple

('Kz', 24, 99.99)
('Kz', 24, 99.99, True, 'Python')
('Kz', 99.99, 'Python')
('Python', True, 99.99, 24, 'Kz')

##### tuple immutability propertices

In [23]:
# Tuple is immutable data type
#  - not change and modify the tuple values


tpl = ("Kz", 24, 99.99, True, "Python")

# Modify the first element
tpl[0] = 10

print(tpl)  

# Not Modify the tuple value

TypeError: 'tuple' object does not support item assignment

##### Convert list to tuple and vice-versa

In [29]:
# list
lst = [10, 20, 30, "kz", 3.14, 60]

print(lst, type(lst))

# convert to tuple
tpl_new = tuple(lst)
print(tpl_new, type(tpl_new))

# again convert to list

lst_new = list(tpl_new)
print(lst_new, type(lst_new))

[10, 20, 30, 'kz', 3.14, 60] <class 'list'>
(10, 20, 30, 'kz', 3.14, 60) <class 'tuple'>
[10, 20, 30, 'kz', 3.14, 60] <class 'list'>

In [30]:
# modify the tuple element using above concept

tpl = ("Kz", 24, 99.99, True, "Python")

print(tpl)

# convert into list
lst = list(tpl)

# modify the items 

lst[0] = "KzRaihan"

# again convert to tuple

tpl = tuple(lst)

print(tpl)

('Kz', 24, 99.99, True, 'Python')
('KzRaihan', 24, 99.99, True, 'Python')

### 2. Tuple's Method

In [32]:
# 1. tpl.index(item)

# - return the item idx that is first occurance.

tpl = [10, 20, 40, 20, 50, 20, 60, 70, 40]

print(tpl.index(20))

print(tpl.index(40))

1
2

In [36]:
# 2. tpl.count(item)
# - Count the total item frequency.

tpl = [10, 20, 40, 20, 50, 20, 60, 70, 40]

print(tpl.count(20))
print(tpl.count(40))
print(tpl.count(10))

3
2
1